# Claves y keystores (¡nunca subir!)
key.properties
*.keystore
*.jks

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
pubspec.lock

# Android - Gradle Wrapper (regenerable)
android/gradlew
android/gradlew.bat
android/gradle/wrapper/gradle-wrapper.jar
android/app/.cxx/

# Android - Archivos generados
/android/.gradle/
/android/app/build/
/android/build/
/android/captures/
/android/gradle/
.gradle/
captures/
local.properties
*.iml

# iOS
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec
/ios/Flutter/Generated.xcconfig
/ios/Flutter/ephemeral/
/ios/Pods/
/ios/Runner.xcworkspace/
/ios/Flutter/App.framework
/ios/Flutter/engine/
/ios/Flutter/FlutterPluginRegistrant/GeneratedPluginRegistrant.java

# Archivos generados
GeneratedPluginRegistrant.java

# IDEs
.idea/
*.iml

# Mac OS
.DS_Store

# Logs
*.log
